@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body, .wrapper, .content{
display: flex;
align-items: center;
justify-content: center;
}
body
{
padding: 0 5px;
min-height: 100vh;
background: #f74a4a;
}
.wrapper
{
width: 440px;
padding: 30px 30px 38px;
background: rgba(255, 255, 255, 0.842);
border-radius: 60px;
flex-direction: column;
box-shadow: 0 10px 50px rgba(0, 0, 0, 0.523);
}
.wrapper img
{
max-width: 160px;
}
.wrapper h1{
font-size: 40px;
font-weight: 500;
margin: 25px 0;
}
.wrapper .content{
width: 104%;
justify-content: space-between;
}
.content.disable{
cursor: no-drop;
}
.content .column{
padding: 0 8px;
border-radius: 30px;
border: 3px solid #bfbfbf;
width: calc(100% / 3 - 5px);
}
.content.disable .column{
opacity: 0.9;
pointer-events: none;
}
.column select
{
width: 104%;
border: none;
outline: rgb(43, 255, 0);
background: none;
font-size: 25px;
}
.wrapper button{
width: 103%;
border: none;
outline: none;
color: #fff;
cursor: pointer;
font-size: 30px;
padding: 13px;
margin-top: 35px;
border-radius: 50px;
background: #f74a61;
}